body {
  margin: 0;
  background-color: #ffead4;
  overflow-x: hidden;
}

.container-header {
  width: 100vw;
}

.lett-header {
  position: absolute;
  left: 50%;
  width: 80%;
  transform: translate(-50%);

  margin-top: 10%;
  fill: transparent;
  animation: lett-preenchimento 0.5s ease-in-out forwards 4s;
}

.lett-header path {
  stroke-width: 2px;
  stroke: #be253f;
  stroke-dasharray: 3000;

  stroke-dashoffset: 3000;
  animation: lett-tracado 5s ease-in-out forwards 1s;
}

.container-cards {
  width: 87%;
  margin: auto;

  display: flex;
}

.card {
  width: 47%;
  background-color: white;
  border-radius: 10px;
  word-wrap: break-word;
  padding: 20px;
  margin: 20px;
}

@keyframes lett-tracado {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes lett-preenchimento {
  to {
    fill: #be253f;
  }
}

h1,
h2 {
  font-family: "Pacifico", cursive;
  color: #be253f;
  text-align: center;
}
h1 {
  font-size: 3em;
}

h2 {
  font-size: 1.5em;
}
p {
  font-family: "Lato", sans-serif;
  color: #484848;
  font-size: 1em;
}
